<style>
        *{
            transition: 5s all ease;
        }
        body{
            background-color:aliceblue;
            background-repeat: no-repeat;
            background-size: 100vw 100vh;
            transition: 0s all ease;
        }
        h1{
            font-size: 30px;
            color:#FFB948;
            
        }
        label{
            font-size: 30px;
            color: darkseagreen;
        }
        table{
            text-align: center;
            margin-top: 10%;
            border: brown double 2px;
            border-radius: 25px;
            font-size: 20px;
            color: aliceblue;
            background: rgba(0,0,0,0.7);
        }
        img{
            border-radius:10%; 
        }
        img:hover{
            transform: rotateY(360deg);
            transition: 5s all ease;
            border-radius:10%; 
        }
        input{
            text-align: center;
            height: 30px;
            width: 400px;
            background:linear-gradient(#FFDA53,#FFB948);
            border: 0;
            color: brown;
            opacity: 0.8;
            cursor: pointer;
            border-radius: 10px;
            margin-bottom: 0;
        }
        input:hover{
            opacity: 1;
        }
        input:active{
            transform: scale(0.95);
        }
        #p{
            height: 35px;
            width: 300px;
            background:linear-gradient(#FFDA53,#FFB948);
            border: 0;
            color: brown;
            opacity: 0.8;
            cursor: pointer;
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 0;
        }
        #p:hover{
            opacity: 1;
        }
        #guardar{
            height: 30px;
            width: 200px;
            background:chartreuse;
            color:crimson;
            opacity: 0.8;
            cursor:pointer;
            border-radius: 12px;
            margin-bottom:0;
        }
        #guardar:hover{
            opacity: 1.1;
        }
            #guardar:active{
            transform: scale(0.1);
            opacity: 1.5;
        }